<nav class="flex flex-col bg-gray-200 dark:bg-gray-900 w-64 px-12 pt-4 pb-6">

    <div class="flex flex-row items-center justify-center pb-2">
      <span class="text-lg font-semibold capitalize dark:text-gray-300">
        Orchestra admin
      </span>
    </div>

    <div class="mt-8">
        <h2 class="mt-4 text-xl dark:text-gray-300 font-extrabold text-center capitalize">
            {{ app.user ? app.user.username : 'Anonymous' }}
        </h2>
        <span class="text-sm dark:text-gray-300">
        <p class="font-semibold text-blue-600 dark:text-blue-300 text-center">
            Admin
        </p>
        </span>
    </div>

    <ul class="mt-2 text-gray-600">
        {% for resource in admin_resources() %}
            <menu-link name="{{ resource.label }}" link="{{ path(resource.path) }}"></menu-link>
        {% endfor %}
    </ul>
</nav>