<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>{{ source('@Orchestra/build/css/app.css') }}</style>
    </head>
    <body>
        <div id="app"></div>
        <script>
            {{ source('@Orchestra/build/app.js') }}
        </script>
    </body>
</html>
