<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Orchestra{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/orchestra/build/css/app.css') }}">
    {% endblock %}
</head>
<body>
    <div id="app" class="flex">
        {% include '@Orchestra/_menu.html.twig' %}
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('bundles/orchestra/build/app.js') }}"></script>
    {% endblock %}
</body>
</html>